@page "/about"

<PageTitle>About RopeParison</PageTitle>

<h1>About RopeParison</h1>
<p>RopeParison is a simple tool for comparing the properties of different climbing ropes.</p>

<p>Inspired by the excellent <a href="https://cam-parison.com/">Camparison</a>.</p>

<p>RopeParison is an open source project, source code is available on <a href="https://github.com/ropeparison/rope-parison">GitHub</a>. Please feel free to get in touch if you would like to contribute.</p>